.join{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 10vh 5vh 10vh;
}
.join >h4{
    font-weight: 600;
    margin: 0 0 0.6rem;
    color: #EB3F0F;
    line-height: 5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
.join >h1{
    font-weight: 700;
    margin: 0px 0px 27px 0px;
    color: #0a0a0a;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}
.join >div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-image: linear-gradient(230deg, #FCF1F9 0%, #FFFFFF 100%);
    box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 13%);
    width:29%;
    /* height:400px; */
    padding:1rem;
    margin-top: 1rem;
}
.card:hover{
    background-image: linear-gradient(135deg, #28a745 55%, #FEC200 100%);
}
.novis{
    visibility: hidden;
}
.card >p{
    font-size: 0.9rem;
    text-align: center;
}
.card >img{
    max-width: 70px;
}
.card > h3{
    font-size: 1.4rem;
}
.card > h2{
    font-size: 4.4rem;
    color: #ED53291A;
    font-weight: 600;
    margin:0 0 -3rem 0;
}
 
.call-to-action{
    padding: 1rem 2rem;
    background-color: transparent;
    background-image: linear-gradient(170deg, #EB3F0F 15%, #FEC200 100%);
    border-radius: 4px;
    font-family: "Poppins", Sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    transition-property: background-image;
    transition-duration: 1.5s;
    color:#ffffff;
    text-decoration: none;
    margin-top:3rem;
}
@media (max-width: 768px) {
    .join{
        padding: 5vh;
    }
    .join >h1{
        font-size: 1.5rem;
    }
    .card{
        width:90%;
        height:auto;
    }
}